<mat-toolbar class="toolbar">User Settings</mat-toolbar>
<form>

    <mat-card class="example-result-card first">
        <mat-toolbar class="headline">Help Categories</mat-toolbar>
        <mat-form-field class="select">
            <mat-label>Select your categories you want to help</mat-label>
            <mat-select multiple>
                <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>

    
    <mat-card class="example-result-card">
        <mat-card-content class="card-content size top">
            <mat-toolbar class="headline padding left">Set your radius</mat-toolbar>
            <div class="example-label-container">
                <label class="example-value-label">{{value}}</label>
                <label id="example-name-label" class="example-name-label"> km</label>
            </div>
            <mat-slider
                class="example-margin slider size"
                [disabled]="disabled"
                [max]="max"
                [min]="min"
                [step]="step"
                [discrete]="thumbLabel"
                [showTickMarks]="showTicks">
                <input matSliderThumb [(ngModel)]="value" name="radius" class="slider">
            </mat-slider>
        </mat-card-content>
    </mat-card>

    
    <mat-card class="example-result-card">
        <mat-toolbar class="headline">Toggle notifications</mat-toolbar>
        <mat-slide-toggle
            class="example-margin size"
            color="primary"
            checked="checked">
            Notifications
        </mat-slide-toggle>
    </mat-card>

    <div>
        <button mat-raised-button color="primary" class="saveButton size">Save Settings</button>
    </div>
</form>
