<mat-toolbar class="toolbar">User Settings</mat-toolbar>
<form>
    <mat-toolbar class="headline">Help Categories</mat-toolbar>
    <mat-form-field class="select">
        <mat-label>Select your categories you want to help</mat-label>
        <mat-select multiple>
            <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-toolbar class="headline">Set your radius</mat-toolbar>
    <div class="select">
    <mat-slider min="1" max="100" step="0.5" discrete class="slider">
        <input matSliderThumb (change)="valueChange($event)" class="slider-text">
        {{range}}
    </mat-slider>
</div>

    <mat-toolbar class="headline">Toggle notifications</mat-toolbar>
    <mat-slide-toggle
          class="example-margin"
          color="primary"
          checked="checked">
        Notifications
    </mat-slide-toggle>
    <div>
        <button mat-raised-button color="primary" class="saveButton">Save Settings</button>
    </div>
    

</form>
