.toolbar {
    margin-bottom: 6px;
    margin-top: 6px;
}

.select {
  margin: 10px;
}

.headline {
    font-size: medium;
    background-color: #ffffff;
    margin-top: 20px;
}

.slider {
    width: 80%;
}

.slider-text {
  color:#0F7391;
}

.example-margin {
  margin: 8px;
  padding-bottom: 30px;
}

.example-result-card {
  margin: 10px;
}

label {
  font-family: Roboto;
}

.example-margin {
  margin: 10px;
}

.saveButton {
  margin-top: 50px;
  margin-left: 25%;
  padding:30px;
  width: 50%!important;
  background-color: #0F7391!important;
  
}

::ng-deep {
    .mat-slider-thumb-label {
      transform: rotate(45deg) !important;
      border-radius: 50% 50% 0 !important;
    }  
    .mat-slider-thumb {
      transform: scale(0) !important;
    }  
    .mat-slider-thumb-label-text {
      opacity: 1 !important;
    }
  }


  .mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #0F7391;
    --mdc-slider-focus-handle-color: #0F7391;
    --mdc-slider-hover-handle-color: #0F7391;
    --mdc-slider-active-track-color: #0F7391;
    --mdc-slider-inactive-track-color: #0F7391;
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: #0F7391;
    --mat-mdc-slider-ripple-color: #0F7391;
    --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
    --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
}

.mat-mdc-slide-toggle.mat-primary {
  --mdc-switch-selected-focus-state-layer-color: #0F7391;
  --mdc-switch-selected-handle-color: #0F7391;
  --mdc-switch-selected-hover-state-layer-color: #0F7391;
  --mdc-switch-selected-pressed-state-layer-color: #0F7391;
  --mdc-switch-selected-focus-handle-color: #0F7391;
  --mdc-switch-selected-hover-handle-color: #0F7391;
  --mdc-switch-selected-pressed-handle-color: #0F7391;
  --mdc-switch-selected-focus-track-color: #0f739154;
  --mdc-switch-selected-hover-track-color: #0f739154;
  --mdc-switch-selected-pressed-track-color: #0f739154;
  --mdc-switch-selected-track-color: #0f739154;
}