.toolbar {
    margin-bottom: 6px;
    margin-top: 6px;
}

.select {
  margin: 10px;
}

.headline {
    font-size: medium;
    background-color: #ffffff;
    margin-top: 10px;
}

.example-margin.size {
  margin: 8px;
  padding-bottom: 30px;
}

.example-result-card {
  margin: 10px;
  margin-bottom: 30px;
}

.example-result-card.first {
  margin-top: 30px;
}

label {
  font-family: Roboto;
}

.saveButton.size {
  margin-top: 10px;
  margin-left: 25%;
  padding:30px;
  width: 50%!important;
  background-color: #0F7391!important;
  
}

.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #0F7391;
    --mdc-slider-focus-handle-color: #0F7391;
    --mdc-slider-hover-handle-color: #0F7391;
    --mdc-slider-active-track-color: #0F7391;
    --mdc-slider-inactive-track-color: #0F7391;
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: #0F7391;
    --mat-mdc-slider-ripple-color: #0F7391;
    --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
    --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
}

.mat-mdc-slide-toggle.mat-primary {
  --mdc-switch-selected-focus-state-layer-color: #0F7391;
  --mdc-switch-selected-handle-color: #0F7391;
  --mdc-switch-selected-hover-state-layer-color: #0F7391;
  --mdc-switch-selected-pressed-state-layer-color: #0F7391;
  --mdc-switch-selected-focus-handle-color: #0F7391;
  --mdc-switch-selected-hover-handle-color: #0F7391;
  --mdc-switch-selected-pressed-handle-color: #0F7391;
  --mdc-switch-selected-focus-track-color: #0f739154;
  --mdc-switch-selected-hover-track-color: #0f739154;
  --mdc-switch-selected-pressed-track-color: #0f739154;
  --mdc-switch-selected-track-color: #0f739154;
}

.example-margin.slider.size {
  width: 80%;
}

.card-content.size.top {
  padding-top: 0px;
}

.headline.padding.left {
  padding-left: 0px;
}