<div class="container">
<mat-toolbar class="toolbar">Events and Jobs</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Event</mat-card-subtitle>
    <mat-card-title>Caritas Berlin</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar class="card-header">Collection of old clothes</mat-toolbar>
    <p>Kantstraße 37, 10625 Berlin</p>
    <mat-label class="date">5.12.2022</mat-label>
    <mat-label class="time">10:00 - 20:00 Uhr</mat-label>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <div class="right-button">
      <button mat-button>SHARE</button>
    </div>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Job Posting</mat-card-subtitle>
    <mat-card-title>WWF Deutschland</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar class="card-header">Rescue of stray animals</mat-toolbar>
    <p>Part time job to help rescuing stray animals on the streets</p>
    <mat-label class="date">15h / week</mat-label>
    <mat-label class="distance">7km
      <mat-icon>location_on</mat-icon>
    </mat-label>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>CALL</button>
    <div class="right-button">
      <button mat-button>MAIL</button>
    </div>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Event</mat-card-subtitle>
    <mat-card-title>Tafel Berlin-Charlottenburg e.V.</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar class="card-header">Nikolaus - Food - Service</mat-toolbar>
    <p>Karl-August-Platz</p>
    <p>Charlottenburg-Wilmersdorf</p>
    <p>10625 Berlin</p>
    <mat-label class="date">6.12.2022</mat-label>
    <mat-label class="time">18:00 - 20:00 Uhr</mat-label>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <div class="right-button">
      <button mat-button>SHARE</button>
    </div>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Event</mat-card-subtitle>
    <mat-card-title>Rotes Kreuz - Nürnberg</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <mat-toolbar class="card-header">Christmas Donation Event</mat-toolbar>
    <p>Nürnberger Christkindlesmarkt, Hauptmarkt</p>
    <mat-label class="date">16.12.2022</mat-label>
    <mat-label class="time">14:00 - 22:00</mat-label>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <div class="right-button">
      <button mat-button>SHARE</button>
    </div>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
</div>