<mat-toolbar class="toolbar">Select Location</mat-toolbar>
<div class="map-container" *ngIf="apiLoaded | async">
  <google-map height="100%" 
              width="100%" 
              [center]=center
              (mapClick)="addMarker($event)">
              <map-marker #marker="mapMarker"
                          *ngFor="let marker of markers"
                          [position]="marker.position"
                          [options]="marker.options" >
              </map-marker>
            </google-map>
</div>