<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="inner">
    <mat-toolbar color="primary" class="bottomNav">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Social Warrior - helpR</span>
    </mat-toolbar> -->
    <!-- Add Content Here -->
<!--   </mat-sidenav-content>
</mat-sidenav-container> -->
<router-outlet></router-outlet>
<nav class="bottom-nav">
  <div class="tab_container">
    <a class="bottom-nav__destination" href="/orgs">
      <mat-icon class="icon-display">group_work</mat-icon>
      <span class="bottom-nav__label">Orgs</span>
    </a>
  </div>
    <a class="bottom-nav__destination bottom-nav__destination--active" href="/map">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" x="0px" y="0px"
        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <polygon points="154.64,420.096 154.64,59.496 0,134 0,512 "/>
        <polygon style="fill:#333333;" points="309.288,146.464 309.288,504.472 154.64,420.096 154.64,59.496 "/>
        <polygon points="463.928,50.152 309.288,146.464 309.288,504.472 463.928,415.68 "/>
        <path style="fill:#E21B1B;" d="M414.512,281.656l-11.92-15.744c-8.8-11.472-85.6-113.984-85.6-165.048
          C317.032,39.592,355.272,0,414.512,0S512,39.592,512,100.864c0,50.992-76.8,153.504-85.488,165.048L414.512,281.656z"/>
        <circle style="fill:#FFFFFF;" cx="414.512" cy="101.536" r="31.568"/>
      </svg>
      <span class="bottom-nav__label">Map</span>
    </a>
  <div class="tab_container">
    <a class="bottom-nav__destination" href="/settings">
      <mat-icon class="icon-display">settings</mat-icon>
      <span class="bottom-nav__label">Settings</span>
    </a>
  </div>
</nav>