<h2 mat-dialog-title></h2>

<mat-dialog-content>
  <h2>{{title}}</h2>
  <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Category of need</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="desc"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()">Dismiss</button>
    <button mat-raised-button color="primary" (click)="save()">Send</button>
</mat-dialog-actions>
